html {
  background-color: black;
  background: url(Images/star\ night\ dark\ sky.gif);
}

body {
  padding: 30px;
  margin: 50px auto;
  width: 770px;
  color: aliceblue;
  border: 2px solid #1156ff;
  border-radius: 4px;
  box-shadow: 0px 0px 50px #1156ff;
  background-color: rgba(0, 0, 0, 0.589);
  font-family: "anuphan";
}

a {
  text-decoration: none;
}

#wiki {
  color: #1156ff;
}

.gloder {
  text-align: center;
  width: fit-content;
  border-radius: 4px;
  padding: 10px;
}

#back {
  margin: -100px 0px 0px 20px;
  border: 2px solid #1156ff;
  box-shadow: 0px 0px 20px #1156ff;
  color: white;
}

h1,
#Intro {
  margin: 30px auto 50px;
  border: 2px solid #1156ff;
  box-shadow: 0px 0px 20px #1156ff;
}

img {
  width: 370px;
  margin: auto;
  text-align: center;
}
